<h1>S'inscrire</h1>

  <div class="container-user">
    <div class="row">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>


  <div class="form-inputs registration-form">
  <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Prénom" }%>
  <%= f.input :last_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Nom" }%>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "mot de passe" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "confirmez le mot de passe" } %>
    <%= f.input :photo, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "S'inscrire", class: "btn_submit" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
    </div>
  </div>
