<h1>Mon profil</h1>

<h2>Les formations que je donne:</h2>
<% current_user.formations.each do |formation|%>
<h3><%= link_to formation.title, formation_path(formation) %></h3>
      <p><%= formation.date %><p>
      <p><%= formation.theme %><p>
      <% formation.reservations.each do |reservation|%>
      <p><%= reservation.statut %><p>
      <p><%=link_to "Accepter la réservation", reservation_accept_path(reservation), data: {turbo_method: :patch, turbo_confirm: "Etes vous sûr de vouloir accepter cette réservation?" }%></p>
      <p><%=link_to "Rejeter la réservation", reservation_reject_path(reservation), data: {turbo_method: :patch, turbo_confirm: "Etes vous sûr de vouloir rejeter cette réservation?" }%></p>
      <% end %>
<% end %>

<h2>Les formations auxquelles je suis inscrit:</h2>
<%current_user.reservations.each do |reservation|%>
<h3><%= link_to reservation.formation.title, formation_path(reservation.formation) %></h3>
      <p><%= reservation.formation.user.first_name %></p>
      <p><%= reservation.formation.date %><p>
      <p><%= reservation.formation.theme %><p>
      <p><%= reservation.statut %><p>
      <%=link_to "Supprimer la réservation", reservation_path(reservation), data: {turbo_method: :delete, turbo_confirm: "Etes vous sûr de vouloir supprimer cette réservation?" }%>
<% end %>
