

  <h1>Add a Formation</h1>
  <div class="containernewformation">
    <div class="row">

        <%= simple_form_for [@formation], html: { class: 'formation-form' } do |f| %>
          <%= f.input :title, label: 'Title' %>
          <%= f.input :theme, label: 'Theme' %>
          <%= f.input :date, label: 'Date' %>
          <%= f.input :description, label: 'Description', input_html: { rows: 5 } %>
          <%= f.button :submit, 'Add Formation', class: 'btn-submit' %>
        <% end %>

    </div>
  </div>
