

  <h1>Ajoute ta propre formation !</h1>
  <div class="containernewformation">
    <div class="row">

        <%= simple_form_for [@formation], html: { class: 'formation-form' } do |f| %>
          <%= f.input :title, label: 'Nom de la formation' %>
          <%= f.input :theme, label: 'Theme' %>
          <%= f.input :date, label: 'Date', as: :datetime %>
          <%= f.input :price, label: 'Prix' %>
          <div data-controller="mask-address">
          <div data-action="click->mask-address#fire"><%= f.input :distance, label: 'Formation en distanciel'%></div>
            <div data-mask-address-target="maskedElement">
              <%= f.input :address,
                input_html: {data: {address_autocomplete_target: "address", mask_address_target: "deleteTexte"}, class: "d-none"},
                wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
                %>
              </div>
            </div>
          <%= f.input :description, label: 'Description', input_html: { rows: 5 } %>
          <%= f.button :submit, 'Ajouter la formation', class: 'btn-submit' %>
        <% end %>

    </div>
  </div>
