<%# <%=@formation.user.first_name%>
<div class= container>
    <div class="card-show-title col-12">
        <div class="title-container d-flex justify-content-center">
          <h1><%=@formation.title%></h1>
        </div>
        <div class="theme-title d-flex justify-content-end" >
        <h6 class="mb-0"><%=@formation.theme%></h6>
        </div>
    </div>
      <div class="row justify-content-space-between">
        <div class="col 6 col-md-6 col-sm-12 d-flex">
          <div class="card-show ">
              <h4><%=@formation.user.first_name%> <%=@formation.user.last_name%></h4>
              <%=@formation.description%>
              <div class="avatar avatar-absolut">
                <% if @formation.user.photo.attached? %>
                  <%= cl_image_tag @formation.user.photo.key %>
                <% else %>
                  <img class="avatar" src="https://res.cloudinary.com/dmcatvo8d/image/upload/v1692693068/vf0knbzqj91f65omnthy.png" alt="">
                <% end%>
            </div>
          </div>
        </div>
          <div class="col-6 col-md-6 col-sm-12 d-flex" style="min-height: 300px">
              <% if @formation.address == "distanciel" %>
                <img class="card-img align-self-stretch" src="https://res.cloudinary.com/dmcatvo8d/image/upload/v1692710670/RHEXIS_R%C3%A9forme_Action_de_Formation_mg9mop.jpg" alt="" style="max-width: 100%; border-radius: 4px;">
              <% else %>
                <div class="card-img align-self-stretch" style="max-width: 100%"
                  data-controller="map"
                  data-map-marker-value="<%= @marker.to_json %>"
                  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
                </div>
              <% end %>
          </div>
      </div>
    <div class="d-flex justify-content-end">
      <div class="card-reservation col-7 d-flex">
        <div>
          <%=@formation.date.strftime("%d/%m/%Y")%>
          <h4 class="mb-0"><%=@formation.price%> €</h4>
        </div>
        <div>
        <% if current_user == @formation.user %>
              <%=link_to "Modifier la formation", edit_formation_path(@formation), class:"btn button-reserver"%>
              <%=link_to "Supprimer la formation", formation_path(@formation), data: {turbo_method: :delete, turbo_confirm: "Etes vous sûr de vouloir supprimer cette formation?" }, class:"btn button-supprimer"%>
        <% else %>
              <%=link_to "Réserver la formation", formation_reservations_path(@formation), data: {turbo_method: :post, turbo_confirm: "Etes vous sûr de vouloir réserver cette formation?" }, class:"btn button-reserver"%>
        <% end %>
        </div>
      </div>
    </div>
</div>
